body {
  background-color: rgb(205, 56, 90);
  color: rgb(255, 230, 0);
}

header {
  background-color: rgb(159, 43, 70);
  color: rgb(255, 230, 0);
}

/* Override to bootstrap accordion class */
.accordion {
  box-shadow: 8px 8px 8px rgb(97, 25, 25);
  border-radius: 10px;
  --bs-accordion-bg: rgba(184, 90, 90, 0.85);
  --bs-accordion-btn-bg: rgba(184, 90, 90, 0.85);
  --bs-accordion-active-bg: rgb(146, 55, 55);
  --bs-accordion-border-color: rgba(218, 165, 32, 0.75);
  --bs-accordion-border-width: 2px;
  --bs-accordion-color: white;
}

/* https://codingyaar.com/bootstrap-accordion-color-change/ */
.accordion-button:not(.collapsed) {
  font-size: 1.5rem;
  color: white;
}

.accordion-button {
  font-size: 1.5rem;
  color: gold;
}

.accordion-button::before {
  color: goldenrod;
}

.accordion-button:not(.collapsed)::before {
  color: white;
}

/* https://stackoverflow.com/questions/42423371 */
.accordion-button:focus {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

:focus {
  outline: 0 !important;
}

/* Override to bootstrap form-switch class */
.form-switch .form-check-input:focus {
  border-color: rgba(0, 0, 0, 0.25);
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 217, 0, 0.4);
}

.form-switch .form-check-input:checked {
  background-color: goldenrod;
  border-color: goldenrod;
  border: none;
}

.form-check-input:focus:not(.form-check-input:checked) {
  /* Modified from Bootstrap docs */
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='rgba(255, 217, 0, 1.0)'/></svg>");
}

/* Modifiers for type effectiveness */
.no-effect {
  background-color: rgb(46, 42, 42) !important;
  color: gold !important;
}

.quarter-effect {
  background-color: rgb(51, 194, 19) !important;
  color: black !important;
}

.half-effect {
  background-color: rgb(28, 92, 14) !important;
  color: gold !important;
}

.normal-effect {
  background-color: rgb(146, 55, 55) !important;
  color: white !important;
}

.double-effect {
  background-color: rgb(73, 73, 237) !important;
  color: gold !important;
}

.quadruple-effect {
  background-color: rgb(41, 41, 135) !important;
  color: gold !important;
}

.tbl-icon {
  width: 3em;
}

#btn-preferences {
  /* --bs-btn-active-bg: rgb(24, 47, 131); */
  background-color: rgb(9, 22, 68);
  color: goldenrod;
  border: 1px solid goldenrod;
}

#btn-preferences:active,
#btn-preferences.show {
  background-color: rgb(29, 54, 144);
  border: 1px solid gold;
  color: white;
}

/* Additional styling for the dropdown menu items */
#preferences {
  border: 1px solid gold;
  background-color: rgb(29, 54, 144);
  color: white;
}
